[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[core]
	excludesfile = ~/.gitignore.global
	commentchar = $
	editor = vim
	autocrlf = input
[merge]
	tool = vscode
[mergetool "vscode"]
	cmd = "code --wait "
[diff]
	tool = vscode
[difftool "vscode"]
	cmd = "code --wait --diff  "
[alias]
	amend = commit --amend --no-edit --date=now
	fetch = fetch --tags
	co = checkout
	cap = "!f(){ git commit -a --amend --no-edit --date=now && git push --force-with-lease; }; f"
[credential]
	helper = osxkeychain
[pull]
	rebase = true
[push]
	autoSetupRemote = true
[web]
  browser = google-chrome
[user]
	name = Volodymyr Dyptan
	email = diptanw@gmail.com
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
[includeIf "gitdir:~/Sources/epidemic/**"]
    path="~/.gitconfig.work"